<div class="dm-group stacked">
  <div class="dm-track">
    <div class="dm-fill"
         *ngFor="let it of items; trackBy: trackByLabel"
         [style.width.%]="it.value"
         [style.background]="it.color || ''"
         [attr.title]="it.label + ' ' + (it.value | number:'1.0-1') + '%'">
    </div>
  </div>

  <div class="dm-legend">
    <span class="dm-leg-item"
          *ngFor="let it of items; trackBy: trackByLabel">
      <span class="dm-leg-color" [style.background]="it.color || ''"></span>
      {{ it.label }} ({{ it.value | number:'1.0-1' }}%)
    </span>
  </div>
</div>