
p-card {
  text-align: left;
  background: #0E0E10;
  border: 1px solid rgba(255, 40, 0, 0.2);
  z-index: 0;
}
.connector  {
  position: absolute;
  top: 50%;
  pointer-events: none;
  display: flex;
  align-items: center;
}
.left .connector {
  left: 100%;
  transform: translate(-50%, -50%);
}

.right .connector {
  right: 100%;
  transform: translate(50%, 50%);
}

.left.line {
  position: absolute;
  width: 60px;
  height: 2px;
  background: transparent;
  left: -100%;
  transform: translateX(-50%);
  transition: background 0.3s ease;
}

.right.line {
  position: absolute;
  width: 60px;
  height: 2px;
  background: transparent;
  right: -100%;
  transform: translateX(50%);
  transition: background 0.3s ease;
}

.left.dot {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  left: 17px;
  background: transparent;
  position: relative;
  margin: 0 auto;
  transition: background 0.3s ease;
}

.right.dot {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  right: 17px;
  background: transparent;
  mix-blend-mode: multiply;
  position: relative;
  margin: 0 auto;
  transition: background 0.3s ease;
}

:host ::ng-deep .p-timeline-event-connector  {
  visibility: hidden;
}

.timeline-wrapper {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
}

.timeline {
  position: relative;
  width: 2px;
  height: 100%;
  background: rgba(255, 40, 0, 0.05);
  border-radius: 2px;
}

.fill {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(to bottom, #FF2800 0%, rgba(255, 40, 0, 0.5) 50%, rgba(255, 40, 0, 0) 100%);
  height: 0%;
  transition: height 0.1s linear;
  border-radius: 2px 2px 0 0;
}

.fill::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 10px;
  height: 20px;
  border-radius: 50%;
  filter: blur(5px);
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.fill.is-fully-scrolled::after {
  opacity: 0;
}

.companyInfo {
  display: inline-flex;
  align-items: center;
  gap: 0.25rem;
  font-size: 0.9rem;
  padding-bottom: 10px;
  color: white;
}

:host ::ng-deep .separator {
  margin: 0 0.25rem;
  color: #FF2800 !important;
}
p-card:last-of-type {
  transition: transform 250ms ease, box-shadow 400ms ease, border-radius 250ms ease;
  will-change: transform, box-shadow;
}

p-card:last-of-type:hover {
  box-shadow: rgba(232, 0, 0, 0.67) 0 0 30px;
  transform: scale(1.05);
  .title, .animated-line {
    background-position: left;
  }
}

p{ 
  color: white;
}

.orange {
  text-shadow: rgb(255,126,22, 0.67) 0 0 10px;
  font-size: 30px;
  padding-bottom: 10px;
  color: rgb(255,126,22);
}

.orange:hover {
  text-shadow: rgb(255,126,22, 0.67) 0 0 20px;
}

.title {
  color: transparent;
  position: relative;
  display: inline-block;
  width: fit-content;
  font-size: 20px;
  padding-bottom: 5px;
  margin-bottom: 15px;

  background-image: linear-gradient(90deg, #FF2800 50%, white 50%);
  background-position:100%;
  background-size:200% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  
  transition: all 0.5s ease;
}

.animated-line {
  position: relative;
  margin-top: 10px;
  height: 1px;
  width: 100%;
  background: #0E0E10;;
  
  background-image: linear-gradient(90deg, #FF2800 50%, #0E0E10 50%);
  background-position:100%;
  background-size:200% 100%;
  background-clip: border-box;
  -webkit-background-clip: border-box;
  background-repeat: no-repeat;

  transition: all 0.5s ease;
}



.description {
  margin-top: 5px;
  margin-bottom: 20px;
  font-size: 14px;
  letter-spacing: 1px;
  margin-right: 20px;
}

.inline-icon {
  font-size: inherit;
  line-height: inherit - 5px;
  display: inline-block;
  vertical-align: text-bottom;
  padding-right: 5px;
  color: #FF2800;
  transition: transform 0.5s ease;
}

.technologies {
  display: flex;
  flex-wrap: wrap;
  gap: 0.4rem;
}

.technology {
  display: inline-flex;
  align-items: center;
  padding: 0.25rem 0.75rem;
  background-color: transparent;
  color: rgba(255, 40, 0, 0.5);
  font-size: 1.15rem;
  line-height: 1;
  border-radius: 25px;
  border: 1px solid rgba(0, 0, 0, 0.08);
  white-space: nowrap;
  user-select: none;
  border-color: rgba(255, 40, 0, 0.5);
}

.technology:hover {
  transform: scale(1.1);
  color: rgba(255, 40, 0, 0.8);
  border-color: rgba(255, 40, 0, 0.8);
  transition: transform 500ms ease;
}

.animated-wrapper.left {
  padding-right: 50px;
}

.animated-wrapper.right {
  padding-left: 50px;
}

p:hover {
  transition: transform 1000ms ease;
  color: rgba(255, 40, 0, 0.8);
}

p:hover .inline-icon {
  transform: rotate(90deg);
}

.connector.filled>.dot {
  background: #FF2800;
}

.connector.filled>.line.right {
  background: linear-gradient(to right, rgba(255, 40, 0, 0.5) 0%, rgba(255, 40, 0, 0) 100%);
}

.connector.filled>.line.left {
  background: linear-gradient(to left, rgba(255, 40, 0, 0.5) 0%, rgba(255, 40, 0, 0) 100%);
}

.card-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding-inline: 1rem;
}

.exp-card {
  width: 100%;
  max-width: 700px;
}

.exp-card:last-child {
  display: none;
}