<div class="about">
    <div class="two-col">
        <div>
            <p appAnimateOnVisibleLeft
                class="intro" >{{ data.intro }} <span class="fullName">{{ data.full_name }}</span></p>
            <p appAnimateOnVisibleLeft
            ><span class="inline-icon material-symbols-outlined">code</span>{{ data.position }}</p>
            <p appAnimateOnVisibleLeft><span class="inline-icon material-icons">work_history</span>{{ data.work_experience }}</p>
            <p appAnimateOnVisibleLeft><span class="inline-icon material-symbols-outlined">location_on</span>{{ data.localization }}</p>
            <p appAnimateOnVisibleLeft class="description">{{ data.short_description }}</p>
            <p appAnimateOnVisibleLeft class="titles"> {{ 'headings.interests' | translate}}</p>
            <div class="interests">
                <p class="interest" *ngFor="let interest of  data.interests" appAnimateOnVisibleLeft>
                    <span class="inline-icon material-icons arrow">keyboard_arrow_right</span> {{ interest }}
                </p>
            </div>
        </div>
        <div>
            <p appAnimateOnVisibleRight class="titles">{{ 'headings.skills' | translate}}</p>
            <p appAnimateOnVisibleRight class="margins">{{ 'headings.backend' | translate}}</p>
            <div class="skills">
                <span class="skill" *ngFor="let skill of data.backend" appAnimateOnVisibleDown>
                    {{ skill }}
                </span>
            </div>
            <p appAnimateOnVisibleRight class="margins">{{ 'headings.frontend' | translate}}</p>
            <div class="skills">
                <span class="skill" *ngFor="let skill of data.frontend" appAnimateOnVisibleDown>
                    {{ skill }}
                </span>
            </div>
            <p appAnimateOnVisibleRight class="titles">{{ 'headings.tools' | translate}}</p>
            <div class="tools">
                <p class="tool" *ngFor="let tool of  data.used_tools" appAnimateOnVisibleRight>
                    <span class="inline-icon material-icons arrow">keyboard_arrow_right</span> {{ tool }}
                </p>
            </div>
            <p appAnimateOnVisibleRight class="titles">{{ 'headings.contact' | translate}}: </p>
            <div class="contact">
                <div appAnimateOnVisibleDown class="block-icon" (click)="copyToClipboard('bruxic99')">
                    <p-toast></p-toast>
                    <img src="/icons/discord-white-icon.svg" alt="My Icon" class="icon base"/>
                    <img src="/icons/discord-white-icon.svg" alt="My Icon" class="icon filtered" />
                </div>
                <div appAnimateOnVisibleDown class="block-icon">
                    <a href="https://www.linkedin.com/in/kamil-kopciuch-93088a36a/" target="_blank">
                        <img src="/icons/linkedin-white.svg" alt="My Icon" class="icon base"/>
                        <img src="/icons/linkedin-white.svg" alt="My Icon" class="icon filtered"/>
                    </a>
                </div>
                <div appAnimateOnVisibleDown class="block-icon">
                    <a href="https://github.com/kamkop99" target="_blank">
                        <img src="/icons/github-white.svg" alt="My Icon" class="icon base"/>
                        <img src="/icons/github-white.svg" alt="My Icon" class="icon filtered" />
                    </a>
                </div>
                <div class="block-icon">
                    
                </div>
            </div>
        </div>
    </div>
</div>