<div class="about">
    <div class="two-col">
        <div>
            <p appAnimateOnVisibleSideDirective [direction]="'left'"
                class="intro" >{{ data().intro }} <span class="fullName">{{ data().full_name }}</span></p>
            <p appAnimateOnVisibleSideDirective [direction]="'left'"
            ><span class="inline-icon material-symbols-outlined">code</span>{{ data().position }}</p>
            <p appAnimateOnVisibleSideDirective [direction]="'left'"><span class="inline-icon material-icons">work_history</span>{{ data().work_experience }}</p>
            <p appAnimateOnVisibleSideDirective [direction]="'left'"><span class="inline-icon material-symbols-outlined">location_on</span>{{ data().localization }}</p>
            <p appAnimateOnVisibleSideDirective [direction]="'left'" class="description">{{ data().short_description }}</p>
            <p appAnimateOnVisibleSideDirective [direction]="'left'" class="titles"> {{ 'headings.interests' | translate}}</p>
            <div class="interests">
                @for (interest of data().interests; track $index) {
                    <p class="interest" appAnimateOnVisibleSideDirective [direction]="'left'">
                        <span class="inline-icon material-icons arrow">keyboard_arrow_right</span> {{ interest }}
                    </p>
                }
            </div>
        </div>
        <div>
            <p appAnimateOnVisibleSideDirective [direction]="'right'" class="titles">{{ 'headings.skills' | translate}}</p>
            <p appAnimateOnVisibleSideDirective [direction]="'right'" class="margins">{{ 'headings.backend' | translate}}</p>
            <div class="skills">
                @for (skill of data().backend; track $index) {
                    <span
                    class="skill"
                    appAnimateOnVisibleDown
                    [delayMs]="$index * 120"
                    [durationMs]="600">
                    {{ skill }}
                    </span>
                }
            </div>
            <p appAnimateOnVisibleSideDirective [direction]="'right'" class="margins">{{ 'headings.frontend' | translate}}</p>
            <div class="skills">
                @for (skill of data().frontend; track $index) {
                    <span
                    class="skill"
                    appAnimateOnVisibleDown
                    [delayMs]="$index * 120"
                    [durationMs]="600">
                    {{ skill }}
                    </span>
                }
            </div>
            <p appAnimateOnVisibleSideDirective [direction]="'right'" class="titles">{{ 'headings.tools' | translate}}</p>
            <div class="tools">
                @for (tool of  data().used_tools; track $index) {
                    <p class="tool" appAnimateOnVisibleSideDirective [direction]="'right'">
                        <span class="inline-icon material-icons arrow">keyboard_arrow_right</span> {{ tool }}
                    </p>
                }
            </div>
            <p appAnimateOnVisibleSideDirective [direction]="'right'" class="titles">{{ 'headings.contact' | translate}}: </p>
            <div class="contact">
                <div appAnimateOnVisibleDown class="block-icon" (click)="copyToClipboard('bruxic99')">
                    <p-toast></p-toast>
                    <img src="/icons/discord-white-icon.svg" alt="My Icon" class="icon base"/>
                    <img src="/icons/discord-white-icon.svg" alt="My Icon" class="icon filtered" />
                </div>
                <div appAnimateOnVisibleDown class="block-icon">
                    <a href="https://www.linkedin.com/in/kamil-kopciuch-93088a36a/" target="_blank">
                        <img src="/icons/linkedin-white.svg" alt="My Icon" class="icon base"/>
                        <img src="/icons/linkedin-white.svg" alt="My Icon" class="icon filtered"/>
                    </a>
                </div>
                <div appAnimateOnVisibleDown class="block-icon">
                    <a href="https://github.com/kamkop99" target="_blank">
                        <img src="/icons/github-white.svg" alt="My Icon" class="icon base"/>
                        <img src="/icons/github-white.svg" alt="My Icon" class="icon filtered" />
                    </a>
                </div>
                <div class="block-icon">
                    
                </div>
            </div>
        </div>
    </div>
</div>