:host ::ng-deep .p-timeline-event-connector {
  visibility: hidden;
}

.timeline-wrapper {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
}

.timeline {
  position: relative;
  width: 2px;
  height: 100%;
  background: rgba(255, 40, 0, 0.05);
  border-radius: 2px;
}

.fill {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(to bottom, var(--special-font-color) 0%, var(--special-font-color-50-opacity) 50%, color-mix(in srgb, var(--special-font-color) 1%, transparent) 100%);
  height: 0%;
  transition: height 0.1s linear;
  border-radius: 2px 2px 0 0;
}

.fill::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 10px;
  height: 20px;
  border-radius: 50%;
  filter: blur(5px);
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.fill.is-fully-scrolled::after {
  opacity: 0;
}

.card-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding-inline: 1rem;
}

.exp-card {
  width: 100%;
  max-width: 700px;
}

.exp-card:last-child {
  display: none;
}

.time-experience {
  color: var(--font-color);
}

.right.animated-wrapper {
  padding-left: 50px;
}

.left.animated-wrapper {
  padding-right: 50px;
}