@if (!smallScreen) {
<div class="timeline-wrapper" #timelineContainer>
  <div class="timeline">
    <div class="fill" [style.height.%]="fillPercent" [class.is-fully-scrolled]="fillPercent >= 99">
    </div>
  </div>
</div>

<p-timeline [value]="vmData()" align="alternate" class="customized-timeline">
  <ng-template #marker let-exp>
    <span class="hidden-marker" aria-hidden="true"></span>
  </ng-template>

  <ng-template #content let-exp>
    @if (exp.reached) {
      @if (exp.__id % 2 !== 0) {
      <app-experience-card [exp]="exp" side="left" appAnimateOnVisibleSideDirective class="left animated-wrapper">
      </app-experience-card>
      } @else {
      <app-experience-card [exp]="exp" side="right" appAnimateOnVisibleSideDirective class="right animated-wrapper">
      </app-experience-card>
      }
    }
  </ng-template>
</p-timeline>
} @else {
<div class="card-list">
  @for (exp of vmData(); track exp?.__id) {
    @if(exp.reached) {
      <app-experience-card [exp]="exp" side="left" appAnimateOnVisibleSideDirective></app-experience-card>
    }
  }
</div>
}