<div class="projects">
  <ul>
    @for (d of data(); track $index) {
      <li class="project">
        <p-splitter class="mb-8" [layout]="outerLayout()">
          <ng-template pTemplate="panel">
            <div class="flex items-center justify-center h-full">
              <p-splitter [panelSizes]="[60, 40]" class="mb-8" layout="vertical">
                <ng-template pTemplate="panel">
                  <div class="flex items-center justify-center h-full" appAnimateOnVisibleSideDirective [direction]="'left'">
                    <p-fieldset>
                      <ng-template pTemplate="header">
                        <div class="flex items-center gap-2 px-2">
                          <span class="font-bold">{{ d.title }}</span>
                          <span class="separator-dot">&#9679;</span>
                          <span class="font-bold">{{ d.year }}</span>
                        </div>
                      </ng-template>
                      <p class="m-0">
                        {{ d.description }}
                      </p>
                    </p-fieldset>
                  </div>
                </ng-template>
                
                @if (d.techStack && d.techStack.length > 0 && d.techInfo) {
                <ng-template pTemplate="panel">
                  <div class="flex items-center justify-center techInfo">
                    <div class="techStacks" appAnimateOnVisibleSideDirective [direction]="'left'">
                      @for (tech of d.techStack; track $index) {
                        <span class="techStack">{{ tech }}</span>
                      }
                    </div>

                    <div class="techPercentage" appAnimateOnVisibleSideDirective [direction]="'left'">
                      <app-decimal-meter-group
                        [items]="toMeterItems(d.techInfo)"
                        [max]="100"
                        [decimals]="1">
                      </app-decimal-meter-group>
                    </div>
                  </div>
                </ng-template>
              }
              </p-splitter>
            </div>
          </ng-template>

          <ng-template pTemplate="panel">
            <div class="img-panel" appAnimateOnVisibleSideDirective [direction]="'right'">
              <div class="image-card">
                <img [src]="d.imageURL" alt="{{ d.title }}" class="image-fit" />

                <div class="overlay">
                  @if (d.githubURL) {
                    <a
                      pButton
                      icon="pi pi-github"
                      class="p-button-rounded p-button-outlined overlay-btn"
                      [href]="d.githubURL!"
                      target="_blank"
                      rel="noopener noreferrer">{{ 'headings.githubButton' | translate }}
                    </a>
                  }
                </div>
              </div>
            </div>
          </ng-template>
        </p-splitter>
      </li>
    }
  </ul>
</div>
