.sidebar-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 0.5rem;
  color: rgba(255, 40, 0, 0.5);
  display: flex;
}

.sidebar-nav ul li {
  padding: 0.5rem 0.75rem;
  cursor: pointer;
  width: fit-content;
  white-space: nowrap;
}

.sidebar-nav ul li.active {
  color: #FF2800;
  font-weight: 600;
}

.sidebar-nav ul li:hover {
  color: #FF2800;
}

.sidebar-nav {
  background: transparent;
  padding: 10px;
  padding-top: 20px;
}

.nav-items {
  background: transparent;
}

.nav-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  width: 90%; /* For example, or some other percentage */
  max-width: 1200px; /* Optional, but good practice for larger screens */
  height: 80px;
}

.material-symbols-outlined {
  color: rgba(255, 40, 0, 0.5);
}

.material-symbols-outlined:hover {
  color: #FF2800;
  font-variation-settings: 'FILL' 1;
}

.lang-switch {
  display: inline-flex;
  background: none;
  border: 0;
  padding-top: 10px;

  cursor: pointer;
  line-height: 0;
  transition: transform 0.2s ease-in-out;

  &:hover,
  &:focus-visible {
    transform: scale(1.1);
    outline: none;
  }
}

.right-group {
  display: flex;
  align-items: center;
  gap: 1rem;
}


.burger,
.overlay, .lang-switch-mobile { display: none; }

@media (max-width: 1000px) {
  .burger {
    display: inline-flex;
    background: none;
    border: 0;
    font-size: 2rem;
    padding: .5rem;
    cursor: pointer;
    z-index: 1001;
  }

  .right-group { display: none; }

  .overlay {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100vh;
    padding-bottom: 100px;
    background: rgba(0, 0, 0, .85);
    display: none;
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s ease;
    z-index: 1000;
    overflow: scroll;
  }
  .overlay.open {
    display: block;
    opacity: 1;
    pointer-events: auto;
    overflow: scroll;
  }

  .overlay-nav {
    padding: 100px 1.5rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .overlay-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    text-align: center;
    font-size: 1.5rem;
  }

  .overlay-nav .lang-switch {
    background: none;
    border: 0;
    cursor: pointer;
    margin-top: 2rem;
  }

  .nav-content {
    width: 80%;
  }

  .lang-switch {
    display: none;
  }

  .lang-switch-mobile {
    display: flex;
    background: none;
    border: 0;
    padding-top: 10px;

    cursor: pointer;
    line-height: 0;
    transition: transform 0.2s ease-in-out;
  }

  .close-burger {
    z-index: 1001;
  }
}