:host {
    display: block;
    position: relative;
}

.companyInfo {
    display: inline-flex;
    align-items: center;
    gap: 0.25rem;
    font-size: 0.9rem;
    padding-bottom: 10px;
    color: var(--font-color);
}

::ng-deep .separator {
    margin: 0 0.25rem;
    color: var(--special-font-color) !important;
}

p-card:last-of-type {
    transition: transform 250ms ease, box-shadow 400ms ease, border-radius 250ms ease;
    will-change: transform, box-shadow;
}

p-card:last-of-type:hover {
    box-shadow: color-mix(in srgb, var(--special-font-color) 67%, transparent) 0 0 30px;
    transform: scale(1.05);

    .title,
    .animated-line {
        background-position: left;
    }
}

p {
    color: var(--font-color);
}

.orange {
    text-shadow: rgb(255, 126, 22, 0.67) 0 0 10px;
    font-size: 30px;
    padding-bottom: 10px;
    color: rgb(255, 126, 22);
}

.orange:hover {
    text-shadow: rgb(255, 126, 22, 0.67) 0 0 20px;
}

.title {
    color: transparent;
    position: relative;
    display: inline-block;
    width: fit-content;
    font-size: 20px;
    padding-bottom: 5px;
    margin-bottom: 15px;

    background-image: linear-gradient(90deg, var(--special-font-color) 50%, var(--font-color) 50%);
    background-position: 100%;
    background-size: 200% 100%;
    background-clip: text;
    -webkit-background-clip: text;

    transition: all 0.5s ease;
}

.animated-line {
    position: relative;
    margin-top: 10px;
    height: 1px;
    width: 100%;
    background: var(--background-color);

    background-image: linear-gradient(90deg, var(--special-font-color) 50%, var(--background-color) 50%);
    background-position: 100%;
    background-size: 200% 100%;
    background-clip: border-box;
    -webkit-background-clip: border-box;
    background-repeat: no-repeat;

    transition: all 0.5s ease;
}



.description {
    margin-top: 5px;
    margin-bottom: 20px;
    font-size: 14px;
    letter-spacing: 1px;
    margin-right: 20px;
}

.inline-icon {
    font-size: inherit;
    line-height: inherit - 5px;
    display: inline-block;
    vertical-align: text-bottom;
    padding-right: 5px;
    color: var(--special-font-color-80-opacity);
    transition: transform 0.5s ease;
}

.technologies {
    display: flex;
    flex-wrap: wrap;
    gap: 0.4rem;
}

.technology {
    display: inline-flex;
    align-items: center;
    padding: 0.25rem 0.75rem;
    background-color: transparent;
    color: var(--special-font-color-50-opacity);
    font-size: 1.15rem;
    line-height: 1;
    border-radius: 25px;
    border: 1px solid rgba(0, 0, 0, 0.08);
    white-space: nowrap;
    user-select: none;
    border-color: var(--special-font-color-50-opacity);
}

.technology:hover {
    transform: scale(1.1);
    color: var(--special-font-color-80-opacity);
    border-color: var(--special-font-color-80-opacity);
    transition: transform 500ms ease;
}

p:hover {
    transition: transform 1000ms ease;
    color: var(--special-font-color-80-opacity);
}

p:hover .inline-icon {
    transform: rotate(90deg);
}

.connector.filled>.dot {
    background: var(--special-font-color)
}

.connector.filled>.line.right {
    background: linear-gradient(to right, var(--special-font-color-50-opacity) 0%, var(--background-color) 100%);
}

.connector.filled>.line.left {
    background: linear-gradient(to left, var(--special-font-color-50-opacity) 0%, var(--background-color) 100%);
}

p-card {
    text-align: left;
    background: var(--background-color);
    border: 1px solid color-mix(in srgb, var(--special-font-color) 20%, transparent);
    z-index: 0;
}

:host.left .connector {
    left: 100%;
    transform: translate(-50%, -50%);
}

:host.right .connector {
    right: 100%;
    transform: translate(50%, 50%);
}

.connector {
    position: absolute;
    top: 50%;
    pointer-events: none;
    display: flex;
    align-items: center;
}

.left.line {
    position: absolute;
    width: 60px;
    height: 2px;
    background: transparent;
    left: -100%;
    transform: translateX(-50%);
    transition: background 0.3s ease;
}

.right.line {
    position: absolute;
    width: 60px;
    height: 2px;
    background: transparent;
    right: -100%;
    transform: translateX(50%);
    transition: background 0.3s ease;
}

.left.dot {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    left: 17px;
    background: transparent;
    position: relative;
    margin: 0 auto;
    transition: background 0.3s ease;
}

.right.dot {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    right: 17px;
    background: transparent;
    mix-blend-mode: multiply;
    position: relative;
    margin: 0 auto;
    transition: background 0.3s ease;
}